<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>addTeacherPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="indent">
    <form action="#" method="post" th:action="@{/addTeacher}">
        <div>
            <table>
                <tr>
                    <td>name</td>
                    <td><input type="text" id="teacherName" th:object="${teacher}" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td>login</td>
                    <td><input type="text" id="teacherLogin" th:object="${teacher}" th:field="*{login}" /></td>
                </tr>
                <tr>
                    <td>password</td>
                    <td><input type="text" id="teacherPassword" th:object="${teacher}" th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td>company (id)</td>
                    <td><input type="text" id="companyId" th:object="${company}" th:field="*{id}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="submitButton" value="Submit" /></td>
                </tr>
            </table>
<!--            <form method="post" th:action="@{/addTeacher}">-->
<!--                <input type="text" th:value="${teacher.name}" name="name"/>-->
<!--                <input type="text" th:value="${teacher.login}" name="login"/>-->
<!--                <input type="text" th:value="${teacher.password}" name="password"/>-->
<!--                <input type="text" th:object="${company}" th:field="*{id}" name="company id"/>-->
<!--                <button type="submit">Submit</button>-->
<!--            </form>-->
        </div>
    </form>
</div>

</body>
</html>