<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>coursesPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div th:replace="general :: page-header"></div>

<!--<div class="indent">-->
<!--    <form method="get" action="/addCourse">-->
<!--        <button id="addCourseButton" type="submit" class="btn btn-success">Добавить</button>-->
<!--    </form>-->
<!--</div>-->

<div class="indent">
<!--    <form th:action="@{/addCourse}" th:object="${course}" method="post">-->
<!--        <input type="text" id="newCourseName" th:field="*{name}" />-->
<!--        <input type="submit" id="submitButton" value="Submit" />-->
<!--    </form>-->
    <form method="post" action="/addCourse">
        <input type="text" id="newCourseName" th:object="${new_course}" th:field="*{name}" />
<!--        <input type="text" id="newCourseName" th:object="${course}" th:field="*{id}"/>-->
        <button id="addCourseButton" type="submit" class="btn btn-success">Добавить курс</button>
    </form>
</div>





<table class="table" id="coursesList">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Название</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}" th:object="${course}">
        <td th:text="*{getId()}"></td>
        <td th:text="*{getName()}"></td>
        <td>
            <form method="get" action="/viewCourse">
                <input type="hidden" name="id" th:value="*{getId()}"/>
                <button type="submit" th:id="toView" class="btn btn-info">На страницу курса</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
