<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title></title>
</head>
<body>

<!--page header-->
<nav th:fragment="page-header" class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="toIndex" th:href="@{index}">На главную</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="allCourses" th:href="@{courses}">Курсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="allStudents" th:href="@{students}">Студенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="allTeachers" th:href="@{teachers}">Преподаватели</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="allCompanies" th:href="@{companies}">Компании</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="gitHub" href="https://github.com/vasileva-julia/cmc_msu_web">GitHub</a>
            </li>
        </ul>
    </div>
</nav>
<!--end of page header-->


<div th:fragment="site-footer" class="fixed-bottom indent">
    <p>
        Система составления расписаний
    </p>
</div>

<!--for bootstrap-->
<div th:fragment="site-script">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
<!--end for bootstrap-->

</body>
</html>