<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>viewCoursePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div th:replace="general :: page-header"> </div>


<div class="indent">
    <div id="courseInfo">
        <h2 th:text="${course.getName()}"></h2>
<!--        <p th:if="${course.getName() != null}" th:text="'Имя: ' + ${course.getName()}"></p>-->
    </div>
</div>


<div class="indent">
    <div>
        <h4 th:text="Учителя"></h4>
        <form method="get" action="/teacherToCourse">
            <input type="hidden" name="course_id" th:value="*{course.getId()}"/>
            <button id="addTeacherButton" type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col">Компания</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="class : ${course.getTeachers()}" th:object="${class}">
                <td th:text="*{getId()}" id="teacherId"></td>
                <td th:text="*{getName()}" id="teacherName"></td>
                <td th:text="*{getCompany().getName()}" id="companyName"></td>
                <td>
                    <form method="get" action="/viewTeacher">
                        <input type="hidden" name="id" th:value="*{getId()}"/>
                        <button type="submit" class="btn btn-info">Подробнее</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="indent">
    <div>
        <h4 th:text="Учащиеся"></h4>
        <form method="get" action="/studentToCourse">
            <input type="hidden" name="course_id" th:value="*{course.getId()}"/>
            <button id="addStudentButton" type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="class : ${course.getStudents()}" th:object="${class}">
                <td th:text="*{getId()}"></td>
                <td th:text="*{getName()}"></td>
                <td>
                    <form method="get" action="/viewStudent">
                        <input type="hidden" name="id" th:value="*{getId()}"/>
                        <button type="submit" class="btn btn-info">Подробнее</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="indent">
    <div>
        <h4 th:text="Занятия"></h4>
        <form method="get" action="/classToCourse">
            <input type="hidden" name="course_id" th:value="*{course.getId()}"/>
            <button id="addClassButton" type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">занятие</th>
                <th scope="col">начало</th>
                <th scope="col">конец</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="class : ${course.getClasses()}" th:object="${class}">
                <td th:text="*{getId()}"></td>
                <td th:text="*{getTheme()}"></td>
                <td th:text="*{getStartTime()}"></td>
                <td th:text="*{getEndTime() / 60}"></td>
                <td>
                    <form method="get" action="/viewClass">
                        <input type="hidden" name="id" th:value="*{getId()}"/>
                        <button type="submit" class="btn btn-info">Подробнее</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>